$primary: #ff5733;
$secondary: rgb(0, 255, 81);
$info: gray;
$body-bg: #f4ebeb;
$body-color: #111;

//variables alert
$alert-border-radius: 34px;
$alert-border-width: 20px;

//varaibles cards
$card-bg: rgb(112, 133, 166);
$card-color: white;
$card-border-radius: 10px;

//variables botones
$btn-border-width: 2px;
$btn-border-radius: 50%;